apiVersion: apps/v1
kind: Deployment
metadata:
  name: sim
  labels:
    app: sim
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sim
  template:
    metadata:
      labels:
        app: sim
    spec:
      containers:
        - name: sim
          image: ghcr.io/llm-d/llm-d-inference-sim:latest
          # quay.io/mayab/simulator:latest
          args:
            - "--port=8000"
            - "--model=Qwen/Qwen3-0.6B"
            - "--enable-kvcache=true"
            - "--block-size=8"
            - "--zmq-endpoint=tcp://zmq-listener-service:5557"
            - "--event-batch-size=1"
            - "--tokenizers-cache-dir=/tokenizer-cache"
          env:
          - name: POD_IP
            valueFrom:
              fieldRef:
                apiVersion: v1
                fieldPath: status.podIP
          ports:
          - name: http
            containerPort: 8200
            protocol: TCP
          volumeMounts:
            - name: tokenizer-cache
              mountPath: /tokenizer-cache
      volumes:
        - name: tokenizer-cache
          emptyDir: {}
